
.places {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
}

.places > h1 {
    font-size: 30px;
    width: 100%;
    text-align: left;
}

.places > article > h2 {
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.places > article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #ff5a5f 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}